@page "/counter"
@using RandomWars.Data

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<button @onclick="CreateChar">Add char</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
    private void CreateChar()
    {
        using (GameContext db = new GameContext())
        {
            CharacterStandard characterStandard = new CharacterStandard() { CharacterStatus = CharacterStatus.STATUS_ALIVE, Name = "NumberOne", Health = 100 };
            db.Characters.Add(characterStandard);
            db.SaveChanges();

        }
    }
}
