@page "/counter"

<PageTitle>Рандомные войны</PageTitle>

if (quantityCharacters = N)
{
    <h1>День @currentDay</h1>
    <p>class Event </p>
    if (quantityEvents > 0)
    {    
        <button class="btn btn-primary" @onclick="quantityEvents">Дальше</button>
        @code {
            private int Event = 0;
            private void quantityEvents()
            {
                Event--;
            }
        }
    }
    else
    {    
        <button class="btn btn-primary" @onclick="countingDay">Следующий день</button>
        @code {
            private int currentDay = 1;
            private void countingDay()
            {
                currentDay++;
            }
        }
    }
}


if (quantityCharacters = 2)
{
    <h1>Финальная битва</h1>
    <h2>Раунд @currentRound</h2>
    <p>class FinalEvent </p>
    <button class="btn btn-primary" @onclick="countingRound">Дальше</button>
    @code {
        private int currentRound = 1;

        private void countingRound()
        {
            currentRound++;
        }
    }
}

